<p id='notice'><%= notice %></p>

<h1>Answer distributions:</h1>
<% Questionary.all.each do |questionary| %>
  <h2><%= questionary.title %></h2>
  <% questionary.questions.each do |question| %>
    <h3><%= question.description %></h3>
    <% data_for_graph = question.select_answers_for_graph %>
    <% if !data_for_graph %>
      <strong>No Data Yet</strong>
    <% else %>
      <div class="container p-3 my-3 border">
        <%= pie_chart question.select_answers_for_graph %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>Rectangular Graph</h1>
<% Questionary.all.each do |questionary| %>
  <h2><%= questionary.title %></h2>
  <% questionary.questions.each do |question| %>
    <h3><%= question.description %></h3>
    <% data_for_graph = question.select_answers_for_graph %>
    <% if !data_for_graph %>
      <strong>No Data Yet</strong>
    <% else %>
      <%= column_chart question.select_answers_for_graph %>
    <% end %>
  <% end %>
<% end %>

<h1>Regular Graph</h1>
<% Questionary.all.each do |questionary| %>
  <h2><%= questionary.title %></h2>
  <% questionary.questions.each do |question| %>
    <h3><%= question.description %></h3>
    <% data_for_graph = question.select_answers_for_graph %>
    <% if !data_for_graph %>
      <strong>No Data Yet</strong>
    <% else %>
      <%= line_chart question.select_answers_for_graph %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:custom_javascript) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(function() {
        $('#notice').delay(500).fadeIn('normal', function() {
          alert("11");
          $(this).delay(1500).fadeOut();
        });
      });
    });
  </script>
<% end %>
