<p id='notice'><%= notice %></p>

<h1><%= @questionary_session.title %></h1>

<%= form_with url: '/next' do |f| %>
  <% if @questionary_session.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@questionary_session.errors.count, 'error') %> prohibited this questionary_session from being saved:</h2>

      <ul>
        <% @questionary_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= @question.description %></h2>

  <div class='container p-3 my-3 border'>
    <% @question.possible_answers.each_with_index do |answer, i| %>
      <div class='radio-box'>
        <%= f.radio_button :answer, i, class: 'custom-control-input' %>
        <%= label_tag "answer_#{i}", answer, class: 'custom-control-label' %>
      </div>
    <% end %>
  </div>

  <div class='actions row'>
    <div class='col-sm-1'>
      <%= f.submit 'Next' %>
    </div>
    <div class='col-sm-10'>
    </div>
    <div class='col-sm-1 text-right'>
      <strong>
        <%= "#{@questionary_session.current_question_number + 1} / #{@questionary_session.total_questions}" %>
      </strong>
    </div>
  </div>
<% end %>
