<!DOCTYPE html>
<html>
  <head>
    <title>QuizApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to('Quizz', root_url, class: "nav-link #{'active' if current_page?(root_url)}") %>
        </li>
        <li class="nav-item">
          <%= link_to('Graph', graph_url, class: "nav-link #{'active' if current_page?(graph_url)}") %>
        </li>
      </ul>
    </nav>

    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
